{% extends "admin_layout.html" %}
{% block content %}
    <div> 
        <h4>Edit Quiz</h4>
        <div> 
            <form action="/edit_quiz/{{quiz.id}}" method="POST">
                <div class="mb-3">
                <label for="quiz_name" class="form-label">Quiz Name:</label>
                <input type="text" class="form-control" id="quiz_name" name="quiz_name" value="{{quiz.quiz_name}}" required>
                </div>
                 
                
                <div class="mb-3">
                <label for="no_of_question" class="form-label">No. of Question</label>
                <input type="number" class="form-control" id="no_of_question" name="no_of_question" value="{{quiz.no_of_question}}" required>
                </div>
                
                 
                
                  
                 <!-- <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <input type="date" class="form-control" id="date" name="date" value="{{ quiz.date.strftime('%Y-%m-%d') if quiz.date else '' }}">
                </div>

                 
                <div class="mb-3">
                    <label for="duration" class="form-label">Duration:</label>
                    <input type="time" class="form-control" id="duration" name="duration" value="{{ '%02d:%02d' | format(quiz.duration.seconds // 3600, (quiz.duration.seconds % 3600) // 60) if quiz.duration else '' }}">
                </div> -->
                                
              
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/quiz_manager" type="submit" class="btn btn-danger">Cancel</a>

            </form>
        </div>
    </div>
{% endblock %}