{% extends "admin_layout.html" %}
{% block content %}
    <div> 
        <h4>Edit Subject</h4>
        <div> 
            <form action="/edit_subject/{{subject.id}}/{{name}}" method="POST">
                <div class="mb-3">
                <label for="name" class="form-label">Name :</label>
                <input type="text" class="form-control" id="name" name="name" value="{{subject.name}}">
                </div>
                
                <div class="mb-3">
                <label for="description" class="form-label">Description :</label>
                <input type="text" class="form-control" id="description" name="description" value="{{subject.description}}">
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/admin_dashboard/{{name}}" type="submit" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}