{% extends "admin_layout.html" %}
{% block content %}
    <div> 
        <h4>New Chapter</h4>
        <div> 
            <form action="{{url_for('new_chapter',subject_id=subject_id,name=name)}}" method="POST">

                <div class="mb-3">
                <label for="subject_id" class="form-label">Subject ID</label>
                <input type="text" class="form-control" id="subject_id" name="subject_id" value="{{subject_id}}" readonly>
                </div>
                <div class="mb-3">
                <label for="chapter_name" class="form-label">Chapter Name :</label>
                <input type="text" class="form-control" id="chapter_name" name="chapter_name">
                </div>
                <div class="mb-3">
                <label for="no_of_question" class="form-label">No. of Quiz</label>
                <input type="number" class="form-control" id="no_of_question" name="no_of_question">
                </div>
                
                <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description">
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
        </div>
    </div>
{% endblock %}