{% extends "admin_layout.html" %}
{% block content %}
    <div> 
        <h4>New Quiz</h4>
        <div> 
            <form action="/new_quiz/{{chapter_id}}" method="POST">
                
                
                <div class="mb-3">
                <label for="quiz_name">Quiz Name</label>
                <input type="text" class="form-control" id="quiz_name" name="quiz_name" >
                </div>
                
                <div class="mb-3">
                <label for="chapter_id">Chapter Id</label>
                <input type="number" class="form-control" id="chapter_id" name="chapter_id" value="{{ chapter_id }}" readonly>

                </div>
                
                <div class="mb-3">
                    <label for="no_of_question">NO. of Question</label>
                    <input type="number" class="form-control" id="no_of_question" name="no_of_question"  >
                </div>

                <!-- <div class="mb-3">
                    <label for="date" class="form-label">Quiz Date</label>
                    <input type="date" class="form-control" id="date" name="date" value="{{ quiz.date.strftime('%Y-%m-%d') if quiz and quiz.date else '' }}" required>
                </div>

                
                <div class="mb-3">
                    <label for="duration" class="form-label">Duration (HH:MM)</label>
                    <input type="time" class="form-control" id="duration" name="duration" value="{{ '%02d:%02d' | format(quiz.duration.seconds // 3600, (quiz.duration.seconds % 3600) // 60) if quiz and quiz.duration else '' }}" required>
                </div> -->

                <div class="mb-3">
                <label for="remarks">remarks</label>
                <input type="text" class="form-control" id="remarks" name="remarks"  >
                </div>
                

                <!-- <div class="mb-3">
                <label for="date_of_quiz">Date Of Quiz</label>
                <input type="date" class="form-control" id="date_of_quiz" name="date_of_quiz" >
                </div>
                
                <div class="mb-3">
                <label for="time_duration" class="form-label">Duration:</label>
                <input type="time" class="form-control" id="time_duration" name="time_duration">
                </div> -->

                
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/quiz_manager" type="submit" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}

 