{% extends "user_layout.html" %}
{% block content %}
    <div> 
        <h4>View Quiz</h4>
        <div> 
            <form >

                <div class="mb-3">
                <label for="quiz_id" class="form-label">Quiz ID :</label>
                <input type="text" class="form-control" id="quiz_id" name="quiz_id" value="{{quiz_id.id}}" readonly>
                </div>

                <div class="mb-3">
                <label for="subject_name" class="form-label">Subject Name :</label>
                <input type="text" class="form-control" id="subject_name" name="subject_name" value="{{subject_name.name}}" readonly>
                </div>

                <div class="mb-3">
                <label for="chapter_name" class="form-label">chapter Name :</label>
                <input type="text" class="form-control" id="chapter_name" name="chapter_name" value="{{chapter_name.name}}" readonly>
                </div>
                
                <div class="mb-3">
                    <label for="no_of_question" class="form-label">No. of Questions :</label>
                    <input type="text" class="form-control" id="no_of_question" name="no_of_question" value="{{quiz_id.no_of_question}}" readonly>
                </div>

                
                 
               
            </form>
        </div>
       
    </div>
{% endblock %}